<a href="https://colab.research.google.com/github/RYCMDNT/CPEN-21A-CPE-1-2/blob/main/Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
#For Loop
week=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [27]:
#The Break Statement
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [30]:
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [39]:
#Looping with String
for x in "Programming with Python":
  print(x)

P
r
o
g
r
a
m
m
i
n
g

w
i
t
h

P
y
t
h
o
n

In [40]:
#The Range Function
for x in range(6):
  print(x)

0
1
2
3
4
5

In [41]:
for x in range(2,6):
  print(x)

2
3
4
5

In [43]:
#Nested Loops
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [44]:
#while loop
i = 1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [45]:
#the break statement
i = 1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

In [46]:
#the continue statement
i=0
while i<6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

In [47]:
#the else statement
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [48]:
#for loops
value=["value 0","value 1","value 2","value 3","value 4","value 5","value 6", "value 7", "value 8", "value 9", "value 10"]
for x in value:
  print(x)

value 0
value 1
value 2
value 3
value 4
value 5
value 6
value 7
value 8
value 9
value 10

In [49]:
#while loop
i=0
while i<11:
  print("Value",i)
  i+=1

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10